<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div id="header">
        <h1>Sam's Pizzeria</h1>
    </div>

    <nav>
        <ul>
            <li><a href="/pizza-orders">Pizza Orders</a></li>
            <li><a href="/pizza-orders/new">Place New Order</a></li>
        </ul>
    </nav>

  <%= yield %>
</body>
</html>
